.slider-warning {
    background: orange;
    height: 25px;
    width: 5px;
}

.slider-danger {
    background: red;
    height: 25px;
    width: 5px;
}

.slider-success {
    background: green;
    height: 25px;
    width: 5px;
}

.slider-left {
    flex: 1;
}

.slider-right {
    flex: 1;
}

.slider-main {
    display: flex;
    width: 50px;
}

.slider-arrow {
    display: block;
    position: relative;
    top: 0px;
}

.slider-arrow-high-high {
    top: -5px;
}

.slider-arrow-high-mid {
    top: 3px;
}

.slider-arrow-high-low {
    top: 10px;
}

.slider-arrow-mid-high {
    top: 20px;
}

.slider-arrow-mid-mid {
    top: 28px;
}

.slider-arrow-mid-low {
    top: 33px;
}

.slider-arrow-low-high {
    top: 45px;
}

.slider-arrow-low-mid {
    top: 52px;
}

.slider-arrow-low-low {
    top: 60px;
}